.main {
  height: 600px;
  display: flex;
  flex: 1;
  height: 100%;
}
.sidebar-left {
  width: 20%;
  height: 100%;
  background-color: RGB(18, 18, 26);
  display: flex;
  flex-direction: column;
}
.sidebar-right {
  width: 80%;
  height: 100%;
  background-color: RGB(10, 12, 16);
  display: flex;
  flex-direction: column;
  padding: 20px 15%;
}
.name {
  height: 8vh;
  width: 100%;
  background-color: rgb(68, 108, 8);
  display: flex;
  align-items: center;
  padding: 20px 10%;
  gap: 10px;
  font-weight: bold;
  font-size: 13px;
}
.anhdaidien {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}
.item {
  cursor: pointer;
  width: 100%;
  padding: 10px 10% 0px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  gap: 5px;
}
.nav-link {
  font-size: 16px;
}
.nav-link:hover {
  color: var(--main-color-cus);
}
.thongtin {
  padding: 20px;
  background-color: RGB(18, 18, 26);
  font-size: 12px;
  align-items: center;
}
.tag-name {
  color: gray;
  font-size: 13px;
}
.editForm {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hien {
  display: block;
}
.tag {
  color: gray;
  font-size: 13px;
  margin: 0;
}
.ifWrong {
  height: 16px;
  font-size: 12px;
}
.wrong {
  color: red;
  border-color: red;
}
.correct {
  color: green;
  border-color: green;
}

@media (max-width: 991px) {
  .sidebar-right {
    padding: 20px 10%;
  }
  .anhdaidien {
    width: 45px;
    height: 45px;
  }
  .nav-link,
  .item {
    font-size: 14px;
  }
  p,
  label {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .sidebar-left {
    display: none;
  }
  .sidebar-right {
    width: 100%;
  }
}

@media (max-width: 577px) {
  .sidebar-right {
    padding: 20px 5%;
  }
  .anhdaidien {
    width: 40px;
    height: 40px;
  }
  .nav-link,
  .item {
    font-size: 12px;
  }
  p,
  label {
    font-size: 14px;
  }
}
