.carousel-item img {
  height: 100vh;
}

.carousel-caption {
  display: flex;
  justify-items: flex-start;
  bottom: 20%;
  left: 10%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8%;
}

.content1,
.content2 {
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.content1 {
  background-color: var(--main-color-cus);
}

.content2 {
  background-color: rgba(128, 128, 128, 0.8);
}

.focus-info {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.focus-info .over-rate {
  color: #19b11d;
  font-weight: bold;
}

.focus-title {
  font-size: 20px;
  margin: 5px 0;
  font-weight: bold;
}

.focus-description {
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.9;
  line-height: 1.5;
  height: 8vh;
  width: 30%;
  overflow: hidden;
  text-align: left;
}

.focus-actions {
  display: flex;
  gap: 15px;
}

.focus-actions i {
  font-size: 20px;
}

.play-button,
.save-button {
  border: none;
  padding: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  background-color: var(--main-color-cus);
  color: white;
}

.save-button {
  background-color: rgba(128, 128, 128, 0.6);
  color: black;
}

.play-button:hover,
.save-button:hover {
  opacity: 0.6;
}
@media (max-width: 1199px) {
  .carousel-item img {
    height: 80vh;
  }
}
@media (max-width: 991px) {
  .carousel-item img {
    height: 40vh;
  }
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 35vh;
  }
  .focus-description,
  .focus-actions {
    display: none;
  }
  .carousel-caption {
    bottom: 5%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

@media (max-width: 577px) {
  .carousel-item img {
    height: 33vh;
  }
  .content1,
  .content2 {
    font-size: 10px;
    padding: 3px;
  }
  .focus-info {
    font-size: 9px;
  }
  .focus-title {
    font-size: 13px;
  }
}
